<nav class="navbar-expand-md border-bottom mb-3">
    <div class="container">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link text-secondary" 
                routerLink="/Home"
                routerLinkActive="activebutton">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" 
                routerLink="/Portfolio"
                routerLinkActive="activebutton">Portfolio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" 
                routerLink="/Resume"
                routerLinkActive="activebutton">Resume</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" 
                routerLink="/Contact"
                routerLinkActive="activebutton">Contact</a>
            </li>
        </ul>
    </div>
</nav>